* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    background-color: white;
    opacity: 90%;
    width: 100%;
}

nav a {
    padding-right: 5%;
    font-size: 2vw;
}

nav a:hover {
    color: #3a5e3b;
    
}
/* nav logo */
nav img {
    max-width: 8%;
    content: url(img/final-logo1.png)
}

nav img:hover {
    content: url(img/final-logo2.png);
}

.banner img{
    width: 100%;
    height: 1024px;
}

.banner h1 {
    z-index: 1;
}